html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: proxima; src: url("fonts/proximanova-regular-webfont.eot"); src: url("fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regular-webfont.woff") format("woff"), url("fonts/proximanova-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: lite; src: url("fonts/proximanova-light-webfont.eot"); src: url("fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light-webfont.woff") format("woff"), url("fonts/proximanova-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bold; src: url("fonts/proximanova-bold-webfont.eot"); src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: semi; src: url("fonts/proximanova-semibold-webfont.eot"); src: url("fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-semibold-webfont.woff") format("woff"), url("fonts/proximanova-semibold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: areg; src: url("fonts/AvenirNext-Regular.eot"); src: url("fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Regular.woff") format("woff"), url("fonts/AvenirNext-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: alite; src: url("fonts/AvenirNext-UltraLight.eot"); src: url("fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-UltraLight.woff") format("woff"), url("fonts/AvenirNext-UltraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: abold; src: url("fonts/AvenirNext-Bold.eot"); src: url("fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Bold.woff") format("woff"), url("fonts/AvenirNext-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: asemi; src: url("fonts/AvenirNext-DemiBold.eot"); src: url("fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-DemiBold.woff") format("woff"), url("fonts/AvenirNext-DemiBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: aital; src: url("fonts/AvenirNext-Italic.eot"); src: url("fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Italic.woff") format("woff"), url("fonts/AvenirNext-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: amed; src: url("fonts/AvenirNext-Medium.eot"); src: url("fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Medium.woff") format("woff"), url("fonts/AvenirNext-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: proxima, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: #f8f8f8; }

.in, .footer, .nav .nav__in, .a .a__table { width: 850px; margin: 0 auto; }

.header { background: #353557; height: 70px; position: relative; min-width: 1200px; }
.header .header__logo { float: left; height: 70px; padding: 0 30px; font-size: 18px; text-transform: uppercase; font-family: bold, sans-serif; font-weight: normal; height: 70px; line-height: 70px; color: #f8cf5e; cursor: pointer; }
.header .header__logo span { font-family: proxima, sans-serif; font-weight: normal; color: white; }
.header .header__logo i { color: white; font-size: 13px; vertical-align: middle; margin-left: 4px; }
.header .header__exchange { float: left; padding: 0 23px 0 30px; height: 70px; line-height: 70px; border-right: 1px solid #4c4c69; font-size: 13px; color: white; }
.header .header__exchange i { color: white; margin: 0 9px; font-size: 10px; color: #414d83; color: #918fa0; position: relative; top: 1px; }
.header .header__balances { height: 70px; position: absolute; width: 300px; left: 50%; margin-left: -150px; }
.header .header__tumblr { position: relative; display: inline-block; height: 2px; background: #3e4981; width: 25px; margin-right: 48px; cursor: pointer; margin-top: 31px; vertical-align: top; }
.header .header__tumblr.is-on i { left: 20px; }
.header .header__tumblr.is-on .header__tumblroff { display: block; }
.header .header__tumblr.is-on .header__tumblron { display: none; }
.header .header__tumblr i { height: 10px; width: 10px; background: #f7ce67; border-radius: 10px; position: absolute; top: -4px; left: -5px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.header .header__tumblr b { font-size: 12px; position: absolute; padding-top: 10px; color: white; font-weight: normal; width: 35px; left: -5px; text-align: center; }
.header .header__tumblr b.header__tumblroff { display: none; }
.header .header__currencies { display: inline-block; vertical-align: middle; vertical-align: top; }
.header .header__balancevalue { font-size: 32px; font-family: asemi, sans-serif; font-weight: normal; color: #f8cf5e; line-height: 1; display: inline-block; margin-top: 17px; vertical-align: top; min-width: 60px; }
.header .header__balancevalue span { font-family: proxima, sans-serif; font-weight: normal; font-size: 12px; color: #918fa0; text-transform: uppercase; cursor: pointer; display: block; padding-top: 2px; }
.header .header__balancevalue span.is-active { color: #f8cf5e; }
.header .header__notifications, .header .header__address { float: right; height: 55px; border-left: 1px solid #4c4c69; padding: 0 24px; padding-top: 15px; font-size: 12px; color: white; text-align: center; cursor: pointer; }
.header .header__notifications:hover, .header .header__address:hover { background: rgba(255, 255, 255, 0.05); }
.header .header__notifications span, .header .header__address span { display: block; margin-top: -7px; }
.header .header__notifications i, .header .header__address i { font-size: 26px; display: block; display: inline-block; position: relative; }
.header .header__notifications i b, .header .header__address i b { font-weight: normal; font-style: normal; text-align: center; display: inline-block; position: relative; min-width: 15px; text-align: center; line-height: 15px; font-family: asemi, sans-serif; font-weight: normal; font-size: 11px; height: 15px; color: white; border-radius: 50%; background: #d81641; position: absolute; right: -6px; top: -4px; }
.header .hprofile { float: right; border-left: 1px solid #4c4c69; height: 70px; position: relative; }
.header .hprofile .hprofile__drop { display: none; }
.header .hprofile.is-open .hprofile__user .hprofile__name { color: #353556; }
.header .hprofile.is-open .hprofile__user i { color: #353556; }
.header .hprofile.is-open .hprofile__user .hprofile__av { background-color: #bbc6e5; }
.header .hprofile .hprofile__user { height: 70px; line-height: 70px; padding: 0 40px; cursor: pointer; z-index: 11; position: relative; font-family: areg, sans-serif; font-weight: normal; font-size: 15px; }
.header .hprofile .hprofile__user:hover { background: rgba(255, 255, 255, 0.05); }
.header .hprofile .hprofile__user .hprofile__av { height: 25px; width: 25px; display: inline-block; vertical-align: middle; background: #404d83; border-radius: 25px; margin-right: 15px; }
.header .hprofile .hprofile__user .hprofile__name { color: white; display: inline-block; line-height: 1; }
.header .hprofile .hprofile__user i { color: white; margin-left: 12px; position: relative; top: 1px; font-size: 12px; }
.header .hprofile.is-open .hprofile__drop { display: block; background: white; position: absolute; top: 0; right: 0; width: 100%; background: #fafcfd; border: 2px solid #353556; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding-top: 77px; z-index: 10; }
.header .hprofile .hprofile__accounts { cursor: pointer; }
.header .hprofile .hprofile__accounts h3 { font-weight: normal; text-align: center; font-size: 12px; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 11px; font-family: areg, sans-serif; font-weight: normal; }
.header .hprofile .hprofile__accounts h3 i { background: url("../img/svg/cube_logo_dark.svg") no-repeat 0 0; -moz-background-size: 26px 26px 100%; -webkit-background-size: 26px 26px 100%; background-size: 26px 26px 100%; width: 26px; height: 26px; display: inline-block; display: inline-block; vertical-align: middle; margin-right: 10px; }
.header .hprofile .hprofile__accounts .hprofile__accountslist { padding: 0 25px; list-style: none; }
.header .hprofile .hprofile__accounts .hprofile__accountslist li { margin-bottom: 16px; text-align: right; position: relative; line-height: 1; font-size: 15px; font-family: asemi, sans-serif; font-weight: normal; }
.header .hprofile .hprofile__accounts .hprofile__accountslist li span { color: #00bfbc; margin-left: 4px; }
.header .hprofile .hprofile__accounts .hprofile__accountslist li .hprofile__currency { position: absolute; left: -5px; color: #353458; font-family: asemi, sans-serif; font-weight: normal; font-size: 15px; }
.header .hprofile .hprofile__list { list-style: none; }
.header .hprofile .hprofile__list a { display: block; height: 39px; line-height: 39px; border-top: 1px solid #e6eef2; padding-left: 65px; position: relative; text-decoration: none; color: #353656; font-family: areg, sans-serif; font-weight: normal; font-size: 15px; overflow: hidden; }
.header .hprofile .hprofile__list a:hover { background: rgba(0, 0, 0, 0.03); }
.header .hprofile .hprofile__list a i { position: absolute; height: 39px; line-height: 39px; left: 25px; top: 0; top: 2px; }

.footer { font-size: 13px; font-family: areg, sans-serif; font-weight: normal; padding: 20px 0; color: #353458; *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer .footer__left { float: left; }
.footer .footer__links { float: right; text-align: right; list-style: none; }
.footer .footer__links li { display: inline-block; margin-left: 10px; }
.footer .footer__links a { text-decoration: none; font-size: 13px; color: #353458; }

.logo { background: url("../img/svg/cube_logo_dark.svg") no-repeat 0 0; -moz-background-size: 26px 26px 100%; -webkit-background-size: 26px 26px 100%; background-size: 26px 26px 100%; width: 26px; height: 26px; display: inline-block; display: inline-block; vertical-align: middle; }

.nav { background: white; border-bottom: 1px solid #e6edf2; }
.nav ul { height: 83px; width: 100%; position: relative; }
.nav ul:before { position: absolute; right: 0; top: 0; content: " "; right: 0; top: 0; height: 83px; border-right: 1px solid #e6eef2; z-index: 3; }
.nav ul li { float: left; width: 20%; }
.nav ul a { text-align: center; height: 66px; padding-top: 17px; text-decoration: none; border-left: 1px solid #e6eef2; text-transform: uppercase; font-size: 14px; color: #353458; display: block; position: relative; }
.nav ul a:hover { background: #f8f8f8; }
.nav ul a:hover i { color: #363656; }
.nav ul a.is-active { background: #f8f8f8; }
.nav ul a.is-active:before { position: absolute; bottom: -1px; left: 0; width: 100%; background: #f8f8f8; height: 1px; content: " "; }
.nav ul a.is-active i { color: #363656; }
.nav ul a span { display: block; text-align: center; }
.nav ul a i { font-size: 24px; color: #aeaebc; display: block; text-align: center; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

@font-face { font-family: iconset; src: url("fonts/untitled-font-2.eot"); src: url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"), url("fonts/untitled-font-2.woff") format("woff"), url("fonts/untitled-font-2.ttf") format("truetype"); font-weight: normal; font-style: normal; }

[data-icon]:before { font-family: iconset !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: red; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: iconset !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-settings:before { content: "r"; }

.icon-request:before { content: "K"; }

.icon-activity:before { content: "L"; }

.icon-add:before { content: "M"; }

.icon-buy:before { content: "N"; }

.icon-console:before { content: "O"; }

.icon-cube-logo-dark:before { content: "P"; }

.icon-cube-logo-lite:before { content: "Q"; }

.icon-deposit:before { content: "R"; }

.icon-facebook:before { content: "S"; }

.icon-google:before { content: "T"; }

.icon-info:before { content: "U"; }

.icon-lock:before { content: "V"; }

.icon-mail:before { content: "W"; }

.icon-sell:before { content: "X"; }

.icon-twitter:before { content: "Y"; }

.icon-swift:before { content: "Z"; }

.icon-sofort:before { content: "0"; }

.icon-skrill:before { content: "1"; }

.icon-settings:before { content: "2"; }

.icon-sepa-text:before { content: "3"; }

.icon-send:before { content: "4"; }

.icon-question:before { content: "5"; }

.icon-qr:before { content: "6"; }

.icon-okpay:before { content: "7"; }

.icon-off:before { content: "8"; }

.icon-notification:before { content: "9"; }

.icon-moneyin:before { content: "!"; }

.icon-user:before { content: '"'; }

.icon-arrow:before { content: "a"; }

.icon-arrowdown:before { content: "b"; }

.icon-help:before { content: "c"; }

.icon-logout:before { content: "d"; }

.a { border-bottom: 1px solid #e6eef2; cursor: pointer; }
.a:hover { background: white; }
.a:hover td.a__icon { color: #363656; }
.a .a__table { height: 82px; }
.a .a__table td { height: 82px; vertical-align: middle; }
.a .a__table td.a__icon { width: 81px; text-align: left; color: #b3b3bc; font-size: 20px; line-height: 1.5; }
.a .a__table td.a__descr { font-size: 16px; color: #353458; font-family: areg, sans-serif; font-weight: normal; width: 460px; }
.a .a__table td.a__descr strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; }
.a .a__table td.a__descr span { display: block; padding-top: 5px; font-family: aital, sans-serif; font-weight: normal; font-size: 16px; color: #9ea3a6; }
.a .a__table td.a__time { font-size: 14px; color: #9ea3a6; font-family: areg, sans-serif; font-weight: normal; }
.a .a__table td.a__amount { text-align: right; font-size: 16px; font-family: areg, sans-serif; font-weight: normal; color: #00bfbc; }
.a .a__table td.a__amount strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; margin-left: 20px; }
.a .a__table td.a__amount.is-minus { color: #ea294c; }

.tabs { *zoom: 1; margin: 31px 0 25px; list-style: none; font-size: 0; text-align: center; }
.tabs:after { content: " "; display: table; clear: both; }
.tabs li { display: inline-block; }
.tabs a { display: inline-block; width: 324px; font-size: 17px; font-family: proxima, sans-serif; font-weight: normal; color: #b3b3bc; text-transform: uppercase; text-decoration: none; border-bottom: 2px solid #cdcdd4; text-align: center; letter-spacing: 3px; padding-bottom: 10px; padding-top: 2px; }
.tabs a.is-active { color: #353458; font-family: semi, sans-serif; font-weight: normal; border-bottom-color: #353458; }
.tabs a:hover { color: #353458; border-bottom-color: #353458; }

.hr { border-top: 1px solid #e6eef2; margin: 10px 0; }

.exchange { margin-bottom: 24px; *zoom: 1; }
.exchange:after { content: " "; display: table; clear: both; }
.exchange .exchange__col { float: left; width: 420px; }
.exchange .exchange__col + .exchange__col { float: right; }
.exchange label { font-size: 19px; display: block; position: relative; margin-bottom: 12px; line-height: 19px; font-family: amed, sans-serif; font-weight: normal; color: #79798c; }
.exchange label span { font-family: areg, sans-serif; font-weight: normal; font-size: 17px; color: #c5c5c5; position: absolute; right: 0; }

.input { display: block; position: relative; }
.input input { display: block; padding: 0 23px; border: 2px solid #95c4d1; border-radius: 2px; box-shadow: inset 3px 3px 0 #eaeaea; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 66px; line-height: 66px; width: 100%; font-family: amed, sans-serif; font-weight: normal; font-size: 31px; color: #cbcbcb; }
.input input:focus { border-color: #1ebebb; color: #353556; }
.input input:focus + .input__currency { background-color: #1ebebb; }
.input.is-tilda input { padding-left: 60px; }
.input .input__tilda { position: absolute; left: 26px; top: 0; height: 66px; line-height: 66px; font-size: 31px; color: #677689; font-family: amed, sans-serif; font-weight: normal; }
.input .input__currency { width: 60px; height: 46px; line-height: 46px; text-align: center; position: absolute; right: 14px; top: 10px; border-radius: 2px; background: #95c4d1; font-size: 17px; font-family: asemi, sans-serif; font-weight: normal; color: white; }
.input .input__currency.input__currency_drop { width: 75px; background: #1ebebb; cursor: pointer; }
.input .input__currency.input__currency_drop .input__currencydrop { display: none; }
.input .input__currency.input__currency_drop .input__currencyvalue { position: relative; z-index: 3; display: inline-block; }
.input .input__currency.input__currency_drop i { display: inline-block; color: white; vertical-align: middle; font-size: 12px; }
.input .input__currency.input__currency_drop.is-opendrop { z-index: 10; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencyvalue { z-index: 12; color: #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop i { color: #353556; position: relative; z-index: 20; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop { display: block; position: absolute; left: 0; top: 0; right: 0; background: white; padding-top: 46px; z-index: 11; border: 2px solid #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop ul { list-style: none; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li { border-top: 1px solid #e6eef2; height: 27px; line-height: 27px; cursor: pointer; background: white; text-align: center; color: #575770; text-transform: uppercase; font-size: 12px; font-family: amed, sans-serif; font-weight: normal; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li:hover { background: #f9f9f9; color: #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li:first-child { border-top: none; }
.input.input_small { width: 340px; margin: 0 auto 15px auto; }
.input.input_small .input__label { display: block; font-size: 15px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; margin-bottom: 10px; }
.input.input_small .input__label span { display: block; font-size: 14px; font-family: aital, sans-serif; font-weight: normal; color: #a4a4b0; }
.input.input_small input { font-size: 17px; height: 46px; line-height: 46px; padding: 0 37px 0 17px; }
.input.input_small .input__icon { position: absolute; right: 10px; bottom: 6px; font-size: 20px; color: #93c4d2; }

.paywith, .cashout { margin: 26px 0; color: #79798c; *zoom: 1; }
.paywith:after, .cashout:after { content: " "; display: table; clear: both; }
.paywith h3, .cashout h3 { font-size: 19px; color: #79798c; position: relative; margin-bottom: 10px; }
.paywith h3 a, .cashout h3 a { position: absolute; right: 0; color: #94c4d1; text-decoration: none; font-size: 20px; }
.paywith h3 a:hover, .cashout h3 a:hover { color: #1ebebb; }
.paywith .paywith__services, .cashout .paywith__services { list-style: none; }
.paywith .paywith__services li, .cashout .paywith__services li { float: left; width: 205px; margin-right: 10px; }
.paywith .paywith__services a, .cashout .paywith__services a { display: block; text-align: center; text-decoration: none; color: #353556; font-size: 70px; height: 66px; line-height: 66px; background: white; border-radius: 2px; box-shadow: inset 0 0 0 2px #95c4d1; }
.paywith .paywith__services a .icon-skrill, .cashout .paywith__services a .icon-skrill { position: relative; top: -2px; }
.paywith .paywith__services a .icon-sofort, .cashout .paywith__services a .icon-sofort { font-size: 90px; vertical-align: top; line-height: 20px; position: relative; top: -10px; }
.paywith .paywith__services a .icon-okpay-text, .cashout .paywith__services a .icon-okpay-text { font-size: 90px; position: relative; top: -11px; }
.paywith .paywith__services a.is-active, .cashout .paywith__services a.is-active, .paywith .paywith__services a:hover, .cashout .paywith__services a:hover { box-shadow: inset 0 0 0 4px #1ebebb; }

.cashout .cashaccount { width: 420px; }
.cashout .selectbank { width: 420px; float: left; }

.selectbank { height: 66px; line-height: 66px; box-shadow: inset 0 0 0 2px #95c4d1; cursor: pointer; background: white; position: relative; }
.selectbank .selectbank__value { font-size: 21px; font-family: amed, sans-serif; font-weight: normal; color: #353458; position: relative; z-index: 4; }
.selectbank .selectbank__value .selectbank__addvalue { letter-spacing: 2px; color: #353458; text-transform: uppercase; font-size: 15px; text-align: center; }
.selectbank .selectbank__value .selectbank__addvalue .icon-add { font-size: 20px; display: inline-block; vertical-align: middle; color: #93c4d2; margin-right: 6px; position: relative; top: 2px; }
.selectbank .selectbank__value .selectbank__currency { position: absolute; right: 0; top: 0; text-transform: uppercase; color: #1ebebb; }
.selectbank .selectbank__value i { position: absolute; right: 15px; top: 24px; line-height: 1; font-size: 15px; }
.selectbank .selectbank__valuewrap { margin: 0 46px 0 28px; display: block; position: relative; }
.selectbank .selectbank__drop { display: none; }
.selectbank .selectbank__drop ul { list-style: none; }
.selectbank .selectbank__drop ul li { position: relative; font-size: 21px; font-family: amed, sans-serif; font-weight: normal; color: #353458; border-top: 1px solid #e6eef2; padding: 10px 0; padding-left: 28px; }
.selectbank .selectbank__drop ul li:hover { background: #fafafa; }
.selectbank .selectbank__drop ul .selectbank__currency { position: absolute; right: 46px; top: 10px; text-transform: uppercase; color: #1ebebb; }
.selectbank.is-open .selectbank__drop { display: block; background: white; line-height: 1; position: absolute; left: 0; right: 0; top: 0; padding-top: 66px; z-index: 3; border: 2px solid #353557; border-radius: 2px; }

.cashaccount { float: right; width: 205px; box-shadow: inset 0 0 0 2px #95c4d1; border-radius: 2px; height: 66px; line-height: 66px; text-align: center; background: white; cursor: pointer; position: relative; }
.cashaccount.is-disabled { box-shadow: inset 0 0 0 2px #e6eef2; }
.cashaccount.is-disabled .cashaccount__value h3 { -webkit-filter: grayscale(100%); -webkit-backface-visibility: hidden; filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; opacity: 0.4; }
.cashaccount .cashaccount__money { font-size: 13px; font-family: asemi, sans-serif; font-weight: normal; color: #353458; }
.cashaccount .cashaccount__money span { color: #00bfbc; }
.cashaccount .cashaccount__drop { position: absolute; top: 0; left: 0; right: 0; padding-top: 66px; background: white; z-index: 3; border: 2px solid #353556; border-radius: 2px; display: none; }
.cashaccount .cashaccount__drop ul { list-style: none; }
.cashaccount .cashaccount__drop ul li { border-bottom: 1px solid #e6eef2; cursor: pointer; padding-left: 25px; position: relative; text-align: left; font-size: 15px; height: 43px; line-height: 43px; font-family: asemi, sans-serif; font-weight: normal; color: #353458; }
.cashaccount .cashaccount__drop ul li span { position: absolute; right: 25px; color: #00bfbc; }
.cashaccount .cashaccount__drop ul li:hover { background: #f9f9f9; }
.cashaccount .cashaccount__drop ul li:last-child { border: none; }
.cashaccount .cashaccount__value { position: relative; z-index: 10; }
.cashaccount .cashaccount__value h3 { font-weight: normal; text-align: center; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; color: #353556; margin-bottom: 0; font-family: areg, sans-serif; font-weight: normal; }
.cashaccount .cashaccount__value h3 i { margin-left: 4px; margin-right: 0; }
.cashaccount .cashaccount__value h3 i.icon-cube_logo_dark { background: url("../img/svg/cube_logo_dark.svg") no-repeat 0 0; -moz-background-size: 26px 26px 100%; -webkit-background-size: 26px 26px 100%; background-size: 26px 26px 100%; width: 26px; height: 26px; display: inline-block; display: inline-block; vertical-align: middle; margin-right: 10px; }
.cashaccount.is-filled .cashaccount__value { line-height: 45px; }
.cashaccount.is-filled .cashaccount__value .icon-arrowdown { position: relative; top: 7px; }
.cashaccount.is-filled .cashaccount__money { line-height: 15px; position: relative; top: -10px; }
.cashaccount.is-drop .cashaccount__drop { display: block; }

.confirm { *zoom: 1; }
.confirm:after { content: " "; display: table; clear: both; }
.confirm .confirm__button { float: right; width: 205px; height: 205px; line-height: 205px; background: #1ebebb; font-size: 20px; letter-spacing: 3px; text-align: center; font-family: bold, sans-serif; font-weight: normal; color: white; text-transform: uppercase; text-decoration: none; cursor: pointer; box-shadow: inset 0 0 0 3px #27e5e1; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; }
.confirm .confirm__button:hover { background: #179290; }
.confirm .confirm__button:active { position: relative; top: 2px; }
.confirm .confirm__amount { float: left; width: 635px; }

.table { width: 100%; border-spacing: 0; border-collapse: collapse; border-radius: 2px; }
.table td, .table th { height: 49px; vertical-align: middle; padding: 0 24px; background: #f9fcfd; }
.table td:first-child, .table th:first-child { border-left: 2px solid #e6eef2; }
.table td:last-child, .table th:last-child { border-right: 2px solid #e6eef2; }
.table thead td, .table thead th, .table tfoot td, .table tfoot th { text-align: left; font-weight: bold; border-top: 2px solid #e6eef2; border-bottom: 2px solid #e6eef2; font-family: asemi, sans-serif; font-weight: normal; }
.table thead td:first-child, .table thead th:first-child, .table tfoot td:first-child, .table tfoot th:first-child { border-left: 2px solid #e6eef2; }
.table thead td:last-child, .table thead th:last-child, .table tfoot td:last-child, .table tfoot th:last-child { border-right: 2px solid #e6eef2; }
.table thead td.table__amount, .table thead th.table__amount, .table tfoot td.table__amount, .table tfoot th.table__amount { font-family: "Source Code Pro", sans-serif; font-weight: 700; }
.table thead td, .table thead th { border-bottom-width: 3px; }
.table tfoot td, .table tfoot th { background: #e6eef2; }
.table .table__text { color: #353458; font-size: 17px; }
.table .table__amount { font-family: "Source Code Pro", sans-serif; font-weight: 400; text-align: right; font-size: 17px; color: #0e2354; }
.table .table__currency { color: #00c7c4; }

.overlay { position: absolute; top: 70px; background: #768395; opacity: 0.9; bottom: 0; right: 0; left: 0; z-index: 1000; display: none; }

.has-popup { overflow: hidden; }

.popup { left: 50%; z-index: 1001; position: absolute; background: white; -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -webkit-transform: translate(0, -1000px); -moz-transform: translate(0, -1000px); -ms-transform: translate(0, -1000px); -o-transform: translate(0, -1000px); transform: translate(0, -1000px); width: 850px; margin-left: -425px; top: 96px; }
.popup.popup_nospace { background: #f9fcfd; }
.popup.popup_nospace .popup__content { padding: 0; padding-top: 20px; }
.popup.is-shown { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); display: block; }
.popup.popup_narrow { width: 500px; margin-left: -250px; }
.popup.popup_narrow1 { width: 600px; margin-left: -300px; }
.popup.popup_center { top: 50%; margin-top: -100px; }
.popup .popup__content { padding: 20px 50px 20px 50px; font-family: areg, sans-serif; font-weight: normal; font-size: 14px; color: #353458; }
.popup .popup__title { font-family: proxima, sans-serif; font-weight: normal; font-size: 18px; color: #353458; text-align: center; text-transform: uppercase; font-weight: normal; margin-bottom: 20px; letter-spacing: 3px; }
.popup .popup__title i { vertical-align: middle; margin-right: 15px; position: relative; top: -2px; }
.popup .popup__subtitle { text-align: center; }
.popup .popup__close { position: absolute; right: 20px; top: 20px; font-size: 19px; color: #93c4d2; cursor: pointer; font-family: amed, sans-serif; font-weight: normal; }
.popup .qrcode { border: 2px solid #93c4d2; height: 56px; line-height: 56px; text-align: center; margin: 14px 0; font-size: 17px; font-family: asemi, sans-serif; font-weight: normal; color: #353558; }
.popup .qrpic { margin-bottom: 20px; }
.popup .makedeposit { background: #1ebebb; text-transform: uppercase; color: white; width: 280px; margin: 0 auto; height: 50px; line-height: 50px; text-decoration: none; box-shadow: 0 0 0 2px #27e5e1; cursor: pointer; font-family: semi, sans-serif; font-weight: normal; font-size: 15px; text-align: center; letter-spacing: 3px; margin-bottom: 23px; }
.popup .actions { margin-bottom: 28px; }
.popup .actions td, .popup .actions th { height: 69px; background: white; border-bottom: 1px solid #e6eef2; vertical-align: middle; }
.popup .actions .actions__currency { padding-left: 60px; width: 40px; text-align: left; }
.popup .actions .actions__amount { text-align: right; padding-right: 32px; }
.popup .actions .actions__amount span { margin-left: 30px; }
.popup .actions .actions__buttons { text-align: right; padding-right: 30px; }
.popup .actions .actions__time { color: #9ea3a6; font-size: 15px; font-family: aital, sans-serif; font-weight: normal; }
.popup .actions .actions__amount { font-size: 21px; font-family: asemi, sans-serif; font-weight: normal; color: #353458; padding-right: 20px; }
.popup .actions .actions__amount span { margin-left: 20px; color: #00bfbc; }
.popup .actions .actions__currency { font-size: 21px; font-family: asemi, sans-serif; font-weight: normal; color: #353458; }
.popup .button { height: 46px; line-height: 46px; padding: 0 15px; border: 2px solid #96c4d0; display: inline-block; margin-left: 10px; border-radius: 2px; text-transform: uppercase; letter-spacing: 3px; color: #353557; text-decoration: none; cursor: pointer; }
.popup .button i { font-size: 20px; vertical-align: middle; display: inline-block; position: relative; top: 2px; }
.popup .button:hover { border-color: #73b0c0; }
.popup h3 { letter-spacing: 3px; font-weight: normal; text-transform: uppercase; text-align: center; font-size: 15px; font-family: proxima, sans-serif; font-weight: normal; margin-bottom: 27px; }
.popup .showmore { height: 35px; cursor: pointer; line-height: 35px; text-align: center; font-size: 13px; text-decoration: none; font-family: areg, sans-serif; font-weight: normal; color: #353458; background: #f9fcfd; }
.popup .showmore:hover { background: #f1f8fa; }

.transfers { background: white; }
.transfers td, .transfers th { border-bottom: 1px solid #e6eef2; background: white; }
.transfers td { height: 50px; vertical-align: middle; }
.transfers tr:hover td { background: #f9fcfd; }
.transfers .transfers__icon { padding-left: 60px; padding-right: 20px; color: #93c4d2; font-size: 23px; width: 30px; }
.transfers .transfers__icon i { position: relative; top: 3px; }
.transfers .sort { cursor: pointer; display: inline-block; }
.transfers .sort i { font-size: 12px; position: relative; top: 2px; }
.transfers .transfers__right { text-align: right; padding-right: 30px; }
.transfers .transfers__left { text-align: left; }
.transfers .transfers__type { width: 270px; }
.transfers .transfers__time { font-size: 14px; font-family: areg, sans-serif; font-weight: normal; color: #9ea3a6; }
.transfers .transfers__amount { text-align: right; font-size: 16px; font-family: areg, sans-serif; font-weight: normal; color: #00bfbc; padding-right: 30px; }
.transfers .transfers__amount strong { font-family: asemi, sans-serif; font-weight: normal; margin-left: 20px; display: inline-block; margin-right: 5px; }
.transfers .transfers__amount.is-minus { color: #ed1847; }

.field { padding-bottom: 23px; *zoom: 1; }
.field:after { content: " "; display: table; clear: both; }
.field label { float: left; width: 104px; padding-left: 16px; font-size: 17px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; padding-top: 13px; }
.field .input { float: right; width: 410px; margin-bottom: 0; }

.addbank .addbank__content { padding: 0px 41px 0 27px; }
.addbank .addbank__title { font-size: 19px; color: #353458; font-family: asemi, sans-serif; font-weight: normal; margin-bottom: 27px; }

.reg { margin: 25px 0; background: white; float: left; width: 100%; }
.reg .reg__welcome { font-size: 18px; color: #34495e; font-family: areg, sans-serif; font-weight: normal; text-align: center; margin: 22px 0 25px 0; }
.reg .reg__welcome strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; }
.reg .hr { margin: 25px 0; }
.reg .prefer { width: 340px; margin: 0 auto 25px auto; *zoom: 1; }
.reg .prefer:after { content: " "; display: table; clear: both; }
.reg .prefer label { float: left; width: 225px; font-size: 15px; padding-top: 3px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; }
.reg .prefer label span { display: block; font-size: 14px; font-family: aital, sans-serif; font-weight: normal; color: #a4a4b0; }
.reg .prefer .select { float: right; width: 115px; position: relative; }
.reg .prefer .select input { border: 2px solid #95c4d1; border-radius: 2px; box-shadow: inset 3px 3px 0 #eaeaea; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 46px; line-height: 46px; width: 100%; font-size: 31px; color: #485878; font-size: 17px; padding-left: 14px; font-family: asemi, sans-serif; font-weight: normal; }
.reg .prefer .select i { position: absolute; right: 16px; top: 16px; }
.reg .prefer .select select { -webkit-appearance: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; }
.reg .strength { height: 8px; border: 2px solid #95c4d1; background: white; border-radius: 8px; width: 336px; margin: 0 auto; margin-top: 25px; }
.reg .strength i { display: block; height: 8px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; background: #1ebebb; }

.submit { background: #1ebebb; font-size: 20px; letter-spacing: 3px; text-align: center; font-family: bold, sans-serif; font-weight: normal; color: white; text-transform: uppercase; text-decoration: none; cursor: pointer; box-shadow: inset 0 0 0 3px #27e5e1; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; height: 66px; line-height: 66px; }
.submit:hover { background: #179290; }
.submit:active { position: relative; top: 2px; }

.requestpage { padding-bottom: 40px; }
.requestpage .tabs { margin-bottom: 34px; }
.requestpage .hr { margin: 30px 0; }
.requestpage .input { margin: 0; }
.requestpage .input input { padding-left: 26px; font-size: 17px; }
.requestpage .input .input__icon { position: absolute; right: 29px; top: 20px; font-size: 20px; color: #93c4d2; font-size: 25px; }
.requestpage .input .input__icon.icon-qr { border: 2px solid #93c4d2; line-height: 1; height: 40px; line-height: 50px; display: inline-block; width: 60px; text-align: center; top: 11px; right: 10px; }
.requestpage .input input:focus + .input__icon { color: #179290; }
.requestpage .input.is-tilda input { padding-left: 60px; }
.requestpage .input.input_to .input__currency { color: #95c4d1; color: #95c4d1; background: white; box-shadow: inset 0 0 0 2px #95c4d1; }
.requestpage .input.input_to input:focus + .input__currency { box-shadow: inset 0 0 0 2px #1ebebb; color: #1ebebb; }
.requestpage .exchange { margin: 0; }
