.help
	+clr
	.help__sidebar
		float: left
		width: 280px 
		border-right: 2px solid #E6EDF2
		padding: 40px 0 
	.help__content
		float: left
		width: 860px 
		margin-left: -2px 
		border-left: 2px solid #E6EDF2
		padding: 40px 0 